.item{
    width: 100px;
    padding: 5px;
    display: inline-block;
    color: white;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right bottom,orangered,rgb(149, 5, 5));
}

.item2{
    width: 100px;
    padding: 5px;
    display: inline-block;
    color: white;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right bottom,blue,purple);
}